<div id="map">
    <img src="/assets/sample-map.png" class="map-image" />

    <ul>
        <li>
            Map shows different regions around your location
        </li>

        <li>
            Regions are known as Groups marked by squares.  
        </li>

        <li>
            Each square is of side 250m. i.e. its a 250m X 250m
        </li>

        <li>
            Squares are identified based on cartesian co-ordinate system. e.g. G(1,3) --> 1st column, 3rd row from left.
            Bottom-Left square is G(0,0)
        </li>

        <li>
            Only X number of people are allowed to go out during the lockdown peroid
        </li>

        <li>
            You belong to Square marked in Green
        </li>
    </ul>
</div>